<header>

  <div class="container" class="header">
    <ul class="navigation">
      <a href="/" class="main">
        <li>
          <h2>Rakesh</h2>
          <p>Full stack developer</p>
        </li>
      </a>    
      <a href="/profile/" class="profile">
        <li>
          <h2>Profile</h2>
          <p>Some stuff about me</p>
        </li>
      </a>
      <a href="/portfolio/" class="portfolio">
        <li>
          <h2>Portfolio</h2>
          <p>See my best effort</p>
        </li>
      </a>
      <a href="/skills/" class="skills">
        <li>
          <h2>Skills</h2>
          <p>Expert on</p>
        </li>
      </a>
      <a href="/contact/" class="contact">
        <li>
          <h2>Contact</h2>
          <p>Catch me on</p>
        </li>
      </a>
      </a>
      <a href="/blog/" alt="blog rakesh">
        <li>
          <h2>Blog</h2>
          <p>My updates</p>
        </li>
      </a>
    </ul>    
  </div>
</header>