<header>

  <div class="container">
    <ul class="navigation">
      <a href="/">
        <li>
          <h2>Home</h2>
          <p>Beginning</p>
        </li>
      </a>
      <a href="/profile/">
        <li>
          <h2>Profile</h2>
          <p>Some stuff about me</p>
        </li>
      </a>
      <a href="/portfolio/">
        <li>
          <h2>Portfolio</h2>
          <p>See my best effort</p>
        </li>
      </a>
      <a href="/skills/">
        <li>
          <h2>Skills</h2>
          <p>Expert on</p>
        </li>
      </a>
      <a href="/blog/" alt="blog rakesh">
        <li>
          <h2>Blog</h2>
          <p>My updates</p>
        </li>
      </a>
      <a href="/contact/">
        <li>
          <h2>Contact</h2>
          <p>Catch me on</p>
        </li>
      </a>
    </ul>    
  </div>
</header>