<header>
<div id="land" class="container=fluid"> 
  <a href="/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span></a>
  <div class="dropdown">
     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/profile/">Profile</a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/skills/">Skills</a></li>
      <li><a href="/contact/">Contact Us</a></li>
    </ul>
  </div>
</div>
<div class="navbar"><a href="/blog/" alt="blog rakesh"><button type="button">Blog</button></a>
</header>