
.header {
  background-color: white;
}

.navigation {

 margin-top: 0px;
 margin-left: 0px;
 box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.navigation li {
  width: 178px; border-left: 5px solid #666;
  float: left;
  cursor: pointer;
  list-style-type: none;
  
  padding: 10px 50px 10px 15px;
  
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.navigation li h2 {
  font-family: georgia;
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 15px;
}

.navigation li p{
  font-size: 11px;
  color: #fff;
  
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.navigation li:hover {
  background: #333;
  border-left: 5px solid #000;
}

.navigation li:hover h2 {
  font-weight: bold;
  color: #fff;
}

.navigation li:hover p {
  color: #fff;
  padding-left: 5px;
}

.navigation a li h2{
  text-decoration: none;
  color: black;
}

.navigation a{
  display: block;
}
.navigation .profile li:hover{
  background: #F06060;
  border-left: 5px solid #000;
}
.navigation .skills li:hover{
  background: #FA987D;
  border-left: 5px solid #000;
}
.navigation .portfolio li:hover{
  background: #72CCA7;
  border-left: 5px solid #000;
}
.navigation .contact li:hover{
  background: #10A296;
  border-left: 5px solid #000;
}
.navigation .main h2{
  transform: rotate(-30deg);
  font-size: 27px;
}

.navigation .main p{
  transform: rotate(-30deg);
  padding: 2px;
}